[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.8.2"
Django = "==2.0.7"
django-rest-swagger = "*"

[dev-packages]

[requires]
python_version = "3.6"
