@import '../../../../assets/scss/variables.scss';

.container{
  display: flex;
  justify-content: center;
  align-items: center;

  .card{    
    form{
      display: flex;
      flex-direction: column;    
      justify-content: space-between;

      > button{
        margin-top: 20px;
      }
    }
  }

  .cardContent{
    height: 100%;
  }
  
}

@media (max-width: $mobile-width) {
  .card{
    width: 100%;
  }
}
