$solar-edge-color: #da2128;
$bg-primary: #2a2c2e;
$bg-secondary: rgba(160, 160, 160, 0.58);
$error-color: #f44336;
$text-color: #202d3d;
$text-color-dimmed: #afaeae;
$mobile-width: 1023px;
$min-screen-width: 1024px;
$min-screen-height: 598px;
$card-padding: 16.5px;
$frame-padding: 32px;
