@import '../../../assets/scss/variables.scss';

.wrapper{
  padding: $frame-padding;
  height: calc(100% - 124px);
  overflow: auto;
}

.container, .wrapper > div{
  height: 100%;
  min-height: 320px;
}
