{% load i18n %}
{% blocktrans %}Reset password at {{ site_name }}{% endblocktrans %}:
{% block content %}
    <div style="height: 450px; background: #202d3d; text-align: center; padding-top: 65px" >
        <div style="height: 90px"><img src="https://firebasestorage.googleapis.com/v0/b/u-teach.appspot.com/o/assets%2Flogo.png?alt=media" /></div>
        <a style="color: #ffc304; font-weight: 800; font-size: 23px; letter-spacing: 1.5px"
           href="{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}">
            click here to change password
        </a>
    </div>
{% endblock %}
