@import './variables.scss';

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Material-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(../fonts/Material-icons/MaterialIcons-Regular.woff2) format('woff2'),
         url(../fonts/Material-icons/MaterialIcons-Regular.woff) format('woff'),
         url(../fonts/Material-icons/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src:  url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype')
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src:  url(../fonts/Roboto/Roboto-Bold.ttf) format('truetype')
}

@font-face {
  font-family: 'Roboto';
  font-weight: 200;
  src:  url(../fonts/Roboto/Roboto-Light.ttf) format('truetype')
}

:global{
    .icon-se, .icon-se svg{
      color: $text-color-dimmed!important;
      fill: $text-color-dimmed!important;
    }
    .material-icons {
      font-family: 'Material Icons'!important;
      font-weight: normal;
      font-style: normal;
      font-size: 24px;  /* Preferred icon size */
      display: inline-block;
      line-height: 1;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      direction: ltr;
            
      &:hover {
        cursor: pointer!important;
      }
    
      /* Support for all WebKit browsers. */
      -webkit-font-smoothing: antialiased;
      /* Support for Safari and Chrome. */
      text-rendering: optimizeLegibility;
    
      /* Support for Firefox. */
      -moz-osx-font-smoothing: grayscale;
    
      /* Support for IE. */
      font-feature-settings: 'liga';
    }  
  }